.tl-timenav {
    width: 100%;
    background-color: #f2f2f2;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
    cursor: move;
}

.tl-timenav .tl-timenav-slider .tl-timenav-slider-background {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: move;
    z-index: 6;
}

.tl-timeaxis {
    height: 39px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.tl-timeaxis .tl-timeaxis-content-container {
    position: relative;
    bottom: 0;
    height: 39px;
}

.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major {
    z-index: 1;
    background-color: #fff;
}

.tl-timeaxis .tl-timeaxis-content-container .tl-timeaxis-major .tl-timeaxis-tick {
    font-size: 12px;
    line-height: 14px;
    color: #737373;
    width: 100px;
    margin-left: -50px;
}

.tl-menubar-button {
    font-size: 18px;
    line-height: 18px;
    background-color: rgba(242,242,242,.9);
    cursor: pointer;
    padding: 6px 12px;
    display: inline-block;
    display: block;
    color: #bfbfbf;
    left: 0;
}

.tl-menubar-button:hover {
    background: #333;
    color: #fff;
}

.timeline-controls {
        position: absolute;
        z-index: 11;
        text-align: center;
        color: #333;
        overflow: hidden;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        /* top:30; */
        /* top: 100%;
        left: 50%; */
        left: 0;
}